/* 10. about page css here */

/*home about css here*/
.about_desc{
    text-align: center;
    & p{
        font-size: 16px;
        margin-bottom: 30px;
        line-height: 27px;
        @media #{$large-mobile}{
            font-size: 15px;
            margin-bottom: 18px;
        }
    }
    & h3{
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 0;
        @media #{$large-mobile}{
            font-size: 35px;
            line-height: 34px;
        }
    }
}
.about_thumb{
	& img{
		@media #{$tablet-device}{
		   width: 100%;
		}
	}
}
/*home about css end*/
.testimonial_about{
	@media #{$tablet-device}{
	   margin-top: 40px;
	}
	@media #{$large-mobile}{
		margin-top: 45px;
	}
	& .testimonial_content {
		& p{
			font-size: 17px;
			line-height: 31px;
			max-width: 85%;
			@media #{$desktop-device}{
				font-size: 17px;
				line-height: 29px;
				max-width: 90%;
			}
		}
	}
}

.about_section{
    padding-bottom: 80px;
	@media #{$tablet-device}{
	   padding-bottom: 54px;
	}
	@media #{$large-mobile}{
		padding-bottom: 54px;
	}
	& .row{
		@media #{$tablet-device}{
		   flex-direction: column-reverse;
		}
		@media #{$large-mobile}{
			flex-direction: column-reverse;
		}
	}
}
.about_content{
	@media #{$tablet-device}{
	   margin-top: 24px;
		text-align: center;
	}
    @media #{$large-mobile}{
        margin-top: 22px;
		text-align: center;
    }
    & h1{
        font-size: 36px;
		font-weight: 600;
		line-height: 40px;
		margin-bottom: 22px;
         @media #{$desktop-device}{
            font-size: 24px;
			line-height: 26px;
			margin-bottom: 20px;
        }
        @media #{$tablet-device}{
           font-size: 22px;
			margin-bottom: 10px;
			line-height: 22px;
        }
        @media #{$large-mobile}{
            font-size: 20px;
			line-height: 24px;
			font-weight: 600;
			margin-bottom: 11px;
        }
    }
	& h3{
		font-size: 18px;
		font-weight: 600;
		line-height: 26px;
		margin-bottom: 21px;
		@media #{$desktop-device}{
            font-size: 17px;
			line-height: 25px;
			margin-bottom: 21px;
        }
		@media #{$tablet-device}{
           font-size: 17px;
			line-height: 23px;
			margin-bottom: 17px;
        }
		@media #{$large-mobile}{
            font-size: 16px;
			line-height: 23px;
			margin-bottom: 17px;
        }
		
	}
    & p{
        font-size: 14px;
        line-height: 26px;
        max-width: 890px;
        margin: 0 auto;
		
    }
}


.chose_content{
    & h3{
        font-size: 22px;
        text-transform: capitalize;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 19px;
         @media #{$desktop-device}{
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 17px;
        }
        @media #{$tablet-device}{
            font-size: 16px;
           argin-bottom: 13px;
        }
        @media #{$large-mobile}{
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 13px;
        }
    }
}
.about_signature {
	margin-top: 25px;
    @media #{$tablet-device}{
       margin-top: 20px;
    }
    @media #{$large-mobile}{
       margin-top: 22px;
    }
}
.choseus_area{
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover; 
    padding: 60px 0 54px;
	 @media #{$tablet-device}{
       margin-bottom: 60px;
    }
    @media #{$large-mobile}{
        margin-bottom: 60px;
    }
}
.single_chose {
	text-align: center;
    @media #{$large-mobile}{
        margin-bottom: 25px;
    }
    &:hover{
        & .chose_icone{
            transform: rotatey(180deg);
        }
    }
	&.chose3{
		@media #{$tablet-device}{
		   margin-top: 30px;
		}
		@media #{$large-mobile}{
			margin-bottom: 0;
		}
	}
}
.chose_icone {
	margin-bottom: 23px;
    @include transition(.5s);
    @media #{$tablet-device}{
       margin-bottom: 20px;
    }
    @media #{$large-mobile}{
        margin-bottom: 14px;
    }
}

.single_gallery_section{
    background: $white;
    @media #{$large-mobile}{
        margin-bottom: 25px;
    }
	&.col__3{
		@media #{$tablet-device}{
		   margin-top: 30px;
		}
	}
}
.about_gallery_container{
    border-bottom: 1px solid $grey_color;
    padding-bottom: 75px;
	 @media #{$tablet-device}{
       padding-bottom: 55px;
    }
    @media #{$large-mobile}{
        padding-bottom: 28px;
    }
}
.about_gallery_section {
    margin-bottom: 75px;
	@media #{$tablet-device}{
       margin-bottom: 55px;
    }
    @media #{$large-mobile}{
        margin-bottom: 57px;
    }
}
.gallery_thumb {
    & img{
        @media #{$large-mobile}{
            width: 100%;
        }
    }
}
.about_gallery_content{
    padding-top: 21px;
    text-align: center;
    & h3{
        font-size: 25px;
        text-transform: capitalize;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 12px;
        @media #{$desktop-device}{
            font-size: 22px;
            line-height: 25px;
        }
        @media #{$tablet-device}{
            font-size: 20px;
            line-height: 22px;
        }
        @media #{$large-mobile}{
           font-size: 18px;
            margin-bottom: 11px;
            line-height: 22px;
        }
    }
    & p{
        line-height: 26px;
    }
}

.team_container{
    padding-bottom: 45px;
    border-bottom: 1px solid $grey_color;
     @media #{$tablet-device}{
       padding-bottom: 15px;
    }
    @media #{$large-mobile}{
       padding-bottom: 15px;
    }
}
.team_member {
	text-align: center;
    @media #{$tablet-device}{
       margin-bottom: 28px;
    }
    @media #{$large-mobile}{
       margin-bottom: 28px;
    }
}
.team_thumb {
	margin-bottom: 24px;
    @media #{$tablet-device}{
       margin-bottom: 18px;
    }
    @media #{$large-mobile}{
       margin-bottom: 18px;
    }
}
.team_content{
    & h3{
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 5px;
        @media #{$tablet-device}{
            line-height: 18px;
            margin-bottom: 4px;
        }
        @media #{$large-mobile}{
            line-height: 18px;
            margin-bottom: 4px;
            font-size: 17px;
        }
    }
    & h5{
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 12px;
        padding-bottom: 14px;
        position: relative;
        display: inline-block;
        @media #{$tablet-device}{
            margin-bottom: 11px;
            padding-bottom: 11px;
        }
        @media #{$large-mobile}{
            margin-bottom: 11px;
            padding-bottom: 11px;
        }
        &::before{
            position: absolute;
            content: "";
            width: 37px;
            height: 2px;
            background: $secondary_color;
            bottom: 0;
            left: 50%;
            transform: translatex(-50%);
        }
    }
    & p{
        font-size: 14px;
        line-height: 25px;
        & a{
            &:hover{
                color: $secondary_color;
            }
        }
    }
}

/*about page css end*/


/*--
    16. About US css
---------------------------*/
.faq-client_title{
    margin-bottom: 28px;
    text-align: center;
    @media #{$large-mobile}{
        margin-bottom: 23px;
    }
    & h2{
        font-size: 25px;
        line-height: 25px;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 0;
        text-transform: capitalize;
        position: relative;
        @media #{$tablet-device}{
           font-size: 22px;
            line-height: 24px;
        }
        @media #{$large-mobile}{
            font-size: 20px;
            line-height: 20px;
        }
    }
}
.faq-client-say-area{
    margin-bottom: 64px;
	@media #{$tablet-device}{
	  margin-bottom: 54px;
	}
    @media #{$large-mobile}{
        margin-bottom: 53px;
    }
    & .section_title{
        @media #{$large-mobile}{
          margin-bottom: 22px;
        }
    }
}

.panel-heading  {
    & .panel-title{
        margin-bottom: 0;
        & a{
             background: $white;
              display: block;
              padding: 14px 20px;
              border-radius: 3px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              text-decoration: none;
              color: inherit;
              position: relative;
              -webkit-transition: color .2s ease-in-out;
              -o-transition: color .2s ease-in-out;
              transition: color .2s ease-in-out;
              border: none;
              -webkit-box-shadow: none;
              box-shadow: none;
             font-weight: 500;
            @media #{$large-mobile}{
                padding: 10px 38px 10px 15px;
                font-size: 13px;
            }
            &::before{
                 position: absolute;
                  content: "\f0d7";
                  font-family: 'FontAwesome';
                  color: #333;
                  font-size: 20px;
                  width: 22px;
                  height: 22px;
                  text-align: center;
                  line-height: 25px;
                  right: 15px;
                  top: 50%;
                  -webkit-transform: translateY(-50%);
                      -ms-transform: translateY(-50%);
                          transform: translateY(-50%);
                  -webkit-transition: 0.4s ease-in-out;
                  -o-transition: 0.4s ease-in-out;
                  transition: 0.4s ease-in-out;
                  border-radius: 100%;
                  z-index: 4;
                  margin-top: 0px;
            }
        }
    }
  
}


.panel-heading .panel-title a[aria-expanded="true"]::before {
  background: #fff;
  color: $secondary_color;
}

.faq-style-wrap .panel-title a[aria-expanded="true"] {
  border-radius: 3px 3px 0 0;
  color: #ffffff;
  background: $secondary_color;
}

.panel.panel-default {
  margin-bottom: 21px;
    &:last-child{
        margin-bottom: 0;
    }
    @media #{$large-mobile}{
       margin-bottom: 13px;
    }
}

.panel-body {
  padding: 15px;
  border: 1px solid #ddd;
    background: $white;
}

.about_testi_title{
    margin-bottom: 28px;
    text-align: center;
    @media #{$large-mobile}{
      margin-bottom: 22px;
    }
    & h2{
        font-size: 28px;
        line-height: 28px;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 0;
        text-transform: capitalize;
        @media #{$tablet-device}{
           font-size: 22px;
            line-height: 24px;
        }
        @media #{$large-mobile}{
            font-size: 20px;
            line-height: 20px;
        }
    }
}





