/*brand css here*/
.brand_area {
	padding: 100px 0;
    @media #{$tablet-device}{
        padding: 80px 0;
    }
	@media #{$large-mobile}{
       padding: 60px 0;
    }
    @media #{$small-mobile}{
       padding: 47px 0 46px;
    }
}
.brand_container{
    @media #{$large-mobile}{
       
    }
    & .single_brand{
        & img{
            width: inherit;
            margin: 0 auto;
        }
    }
    &:hover{
        & .owl-nav{
            & div{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    & .owl-nav{
        & div{
            position: absolute;
            top: 49%;
            transform: translatey(-50%);
            left: -55px;
            font-size: 20px;
            width: 42px;
            height: 42px;
            line-height: 42px;
            text-align: center;
            @include transition(.3s);
            opacity: 0;
            visibility: hidden;
            border: 1px solid $fonts_color;
            &:hover{
                background: $fonts_color;
                color: #fff;
            }
            @media #{$laptop-device}{
                left: 0;
            }
            @media #{$desktop-device}{
                left: 0;
            }
             @media #{$tablet-device}{
                left: 0;
            }
            @media #{$large-mobile}{
                left: 0;
            }
            &.owl-next{
                right: -55px;
                left: auto;
                @media #{$laptop-device}{
                    right: 0;
                }
                @media #{$desktop-device}{
                    right: 0;
                }
                 @media #{$tablet-device}{
                    right: 0;
                }
                @media #{$large-mobile}{
                    right: 0;
                }
            }
            @media #{$large-mobile}{
                display: none;
            }
        }
    }
}

.single_brand{
    overflow: hidden;
    & img{
        transition: .3s;
    }
    &:hover{
        & img{
            transform: scale(1.05) rotate(0.05deg);
        }
    }
}



.brand_padding{
    padding: 0;
    & .brand_container{
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        padding: 60px 0;
        @media #{$large-mobile}{
            padding: 56px 0;
        }
		
    }
}


/*home three css here*/
.testimonial_brand{
	background-color: #f7f7f7;
	padding: 100px 0;
	@media #{$tablet-device}{
		padding: 80px 0;
	}
	@media #{$large-mobile}{
		padding: 60px 0 57px;
	}
}
.brand_container3 {
	& .single_brand{
        & img{
            width: inherit;
            margin: 0 auto;
        }
    }
}


.brand_items{
	& .single_brand{
		margin-bottom: 50px;
		@media #{$large-mobile}{
			margin-bottom: 25px;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}























