/*  07. footer area css here */
.footer_widgets{
    background: #292929;
}

.footer_top{
    padding: 95px 0 100px;
    @media #{$tablet-device}{
        padding: 77px 0 38px;
    }
    @media #{$large-mobile}{
       padding: 56px 0 60px;
    }
}



.footer_payment{
    @media #{$large-mobile}{
        margin-top: 13px;
        text-align: center !important;
    }
}


.footer_social{
	text-align: center;
	padding: 40px 0;
	border-top: 1px solid rgba(255,255,255,0.07);
	border-bottom: 1px solid rgba(255,255,255,0.07);
	@media #{$large-mobile}{
		padding: 32px 0;
	}
    & ul{
        & li{
            display: inline-block;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
            @media #{$large-mobile}{
                margin: 0 4px 0 0;
            }
            & a{
                line-height: 45px;
                width: 47px;
                height: 47px;
                border-radius: 100%;
                display: inline-block;
                text-align: center;
				color: #888888;
                border: 1px solid #545454;
				font-size: 20px;
                &:hover{
                    background: $secondary_color;
                    border-color: $secondary_color;
					color:#fff;
                }
                @media #{$large-mobile}{
                    line-height: 38px;
					width: 40px;
					height: 40px;
					font-size: 15px;
                }
            }
        }
    }
}

.copyright_area{
    & p{
        text-transform: capitalize;
        line-height: 24px;
        font-size:14px;
        color: #fff;
        opacity: 0.5;
        @media #{$large-mobile}{
            line-height: 22px;
        }
        & a{
            &:hover{
                color:  $secondary_color;
            }
        }
    }
}


.footer_bottom{
    padding: 30px 0;
    @media #{$large-mobile}{
       padding: 26px 0 28px;
    }
}
.footer_bottom_left{
	display: flex;
	align-items: center;
	@media #{$large-mobile}{
       margin-bottom: 22px;
		flex-direction: column;
		text-align: center;
    }
}
.footer_logo{
	margin-right: 35px;
	& img{
		width: 100px;
	}
    @media #{$large-mobile}{
        text-align: center;
        margin-bottom: 20px;
		margin-right: 0;
    }
}
.footer_padding{
   & .footer_top {
       padding: 75px 0 80px;
       @media #{$tablet-device}{
           padding: 58px 0 60px;
        }
       @media #{$large-mobile}{
           padding: 54px 0 60px;
        }
    }
}

.footer_paypal{
    text-align: right;
	@media #{$large-mobile}{
	   text-align: center !important;
	}
}












