/*06. newsletter area css here*/
.newsletter_area{
	& .section_title{
		& h2{
			color: #fff;
		}
	}
}
.newsletter_title{
    @media #{$large-mobile}{
        margin-bottom: 15px;
		text-align: center;
    }
    & h3{
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}
.newsletter_desc{
	text-align: center;
	margin-bottom: 20px;
	& p{
		color:#999999;
		line-height: 20px;
		font-size: 16px;
	}
}
.newsletter_container {
	padding-top: 16px;
    @media #{$tablet-device}{
       padding-top: 8px;
    }
    @media #{$large-mobile}{
        padding-top: 0;
    }
}
.subscribe_form{
    & form{
        width: 680px;
        position: relative;
		margin: 0 auto;
		&::before{
			content: "\e639";
			font-family: 'Pe-icon-7-stroke';
			position: absolute;
			color:#fff;
			left: 0;
			font-size: 28px;
			top: 17px;
			@media #{$large-mobile}{
                font-size: 25px;
				top: 10px;
            }
		}
        @media #{$tablet-device}{
           width: 600px;
        }
        @media #{$large-mobile}{
            width: 100%;
			text-align: center;
        }
        & input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
           color: #666;
        }
        & input::-moz-placeholder { /* Firefox 19+ */
           color: #666;
        }
        & input:-ms-input-placeholder { /* IE 10+ */
           color: #666;
        }
        & input:-moz-placeholder { /* Firefox 18- */
           color: #666;
        }
        & input{
            width: 450px;
            background: none;
            padding: 10px 20px 10px 38px;
            height: 55px;
            font-size: 16px;
            color: #666;
            border: 0;
            border-bottom: 2px solid #fff;
			@media #{$tablet-device}{
			    width: 370px;
				padding: 10px 20px 10px 38px;
				height: 47px;
				font-size: 16px;
			}
            @media #{$large-mobile}{
                font-size: 14px;
				padding: 0 10px 0 45px;
				height: 43px;
				width: 100%;
            }
        }
        & button{
			position: absolute;
			right: 0;
			top: 2px;
            background: #ff4545;
			border: none;
			color: #fff;
			text-transform: uppercase;
			font-weight: 700;
			height: 55px;
			line-height: 55px;
			outline: none;
			text-align: center;
			padding: 0 10px;
			font-size: 13px;
			min-width: 200px;
			border-radius: 30px;
            &:hover{
                color: $fonts_color;
            }
			@media #{$tablet-device}{
				height: 50px;
				line-height: 50px;
				padding: 0 10px;
				font-size: 13px;
				min-width: 172px;
			}
            @media #{$large-mobile}{
                position: inherit;
				right: 0;
				top: 0;
				height: 48px;
				line-height: 48px;
				padding: 0 10px;
				font-size: 13px;
				min-width: 170px;
				margin-top: 18px;
            }
        }
    }
}
.mailchimp-error {
	text-align: center;
	color: green;
}
.mailchimp-success {
	text-align: center;
    max-width: 510px;
	color: green;
    margin: 0 auto;
    &.active{
        margin-top: 20px;
    }
}

/*home two css here*/

.color_two{
    & .subscribe_form form button:hover{
         background: $secondary_color2;
    }
}


/*home three css here*/
.color_three{
    & .subscribe_form form button:hover{
         background: $secondary_color3;
    }
}
























