/* 02. slider area css here */
.single_slider{
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover; 
        height: 826px;
        @media #{$laptop-device}{
           height: 580px;
        }
        @media #{$desktop-device}{
          height: 480px;
        }
        @media #{$tablet-device}{
            height: 450px;
			background-position: 0;
        }
        @media #{$large-mobile}{
           background-position: 0;
			height: 315px;
        }
 
}
.slider_section{
    &.mb-100{
        @media #{$tablet-device}{
            margin-bottom: 80px;
        }
        @media #{$large-mobile}{
           margin-bottom: 60px;
        }
    }
    &.mb-70{
        @media #{$large-mobile}{
           margin-bottom: 60px;
        }
    }
}
.slider_area{
	& .owl-nav{
		& div{
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translatey(-50%);
			font-size: 22px;
			width: 68px;
			height: 68px;
			line-height: 68px;
			text-align: center;
			border-radius: 50%;
			background: rgba(0,0,0,0.1);
			color: #fff;
			transition: .3s;
			&:hover{
				background: $secondary_color;
			}
			@media #{$tablet-device}{
			   left: 15px;
				width: 52px;
				height: 52px;
				line-height: 52px;
			}
			@media #{$large-mobile}{
			   display: none;
			}
			&.owl-next{
				right: 20px;
				left: auto;
				@media #{$tablet-device}{
				  right: 15px;
				}
			}
		}
	}
    & .owl-dots{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translatex(-50%);
        @media #{$large-mobile}{
            bottom: 4px;
        }
        & .owl-dot{
            width: 14px;
            height: 14px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 3px;
            transition: .3s;
            background: $fonts_color;
            &.active{
               background: $secondary_color;
            }
            &:hover{
               background: $secondary_color;
            }
        }
    }
}

.slider_content{
	@media #{$laptop-device}{
	   padding-left: 115px;
	}
	@media #{$desktop-device}{
		padding-left: 100px;
	}
	@media #{$tablet-device}{
	   padding-left: 75px;
	}
    @media #{$large-mobile}{
        text-align: center;
        padding-left: 0;
    }
    & h1{
        font-size: 71px;
        line-height: 71px;
        font-weight: 700;
		text-transform: uppercase;
        margin-bottom: 0;
        @media #{$laptop-device}{
            font-size: 48px;
            line-height: 48px;
        }
        @media #{$desktop-device}{
            font-size: 42px;
			line-height: 42px;
        }
        @media #{$tablet-device}{
           font-size: 36px;
            line-height: 36px;
        }
        @media #{$large-mobile}{
            font-size: 26px;
            line-height: 26px;
        }
    }
    & h2{
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 11px;
        font-weight: 400;
        color: $secondary_color;
        @media #{$laptop-device}{
           font-size: 18px;
            line-height: 18px;
        }
        @media #{$desktop-device}{
            font-size: 17px;
            line-height: 17px;
            margin-bottom: 10px;
        }
        @media #{$tablet-device}{
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 8px;
        }
        @media #{$large-mobile}{
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 9px;
        }
        
    }
    & p{
        font-size: 18px;
        line-height: 28px;
		text-transform: uppercase;
        padding: 35px 0 45px;
        margin-bottom: 0;
		& span{
			display: block;
			font-weight: 700;
		}
        @media #{$laptop-device}{
            font-size: 16px;
			padding: 28px 0 37px;
        }
        @media #{$desktop-device}{
            font-size: 16px;
			line-height: 25px;
			padding: 26px 0 32px;
        }
        @media #{$tablet-device}{
           font-size: 14px;
			line-height: 24px;
			padding: 18px 0 25px;
        }
        @media #{$large-mobile}{
            font-size: 13px;
			line-height: 21px;
			padding: 15px 0 17px;
			max-width: 100%;
			letter-spacing: 0;
        }
    }
    & a{
        font-size: 14px;
        line-height: 24px;
        padding: 15px 35px;
		font-weight: 700;
        background: $secondary_color;
        color: #fff;
        display: inline-block;
        text-transform: uppercase;
		border-radius: 30px;
        &:hover{
            color: $fonts_color;
            background: #fff;
        }
        @media #{$desktop-device}{
            line-height: 41px;
            height: 43px;
            padding: 0 28px;
        }
        @media #{$tablet-device}{
            font-size: 13px;
            line-height: 41px;
            height: 43px;
            padding: 0 25px;
        }
        @media #{$large-mobile}{
            font-size: 12px;
            line-height: 36px;
            height: 38px;
            padding: 0 18px;
            letter-spacing: 1px;
        }
    }
}




.active .slider_content h1,.active .slider_content h2,.active .slider_content h3,.active .slider_content a,.active .slider_content p,.active .slider_content span {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.active .slider_content h2{
     -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.active .slider_content h3,.active .slider_content span{
     -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.active .slider_content p{
     -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.active .slider_content a{
     -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}



/*home two css here*/
.slider_s_two{
	& .single_slider{
		height: 892px;
        @media #{$laptop-device}{
           height: 650px;
        }
        @media #{$desktop-device}{
          height: 550px;
        }
        @media #{$tablet-device}{
            height: 470px;
			background-position: 0;
        }
        @media #{$large-mobile}{
			height: 340px;
            background-position: 79%;
        }
	}
}

.slider_c_two{
	@media #{$desktop-device}{
	  padding-top: 50px;
	}
	& h1{
		color: #fff;
		text-transform: capitalize;
		font-size: 56px;
		line-height: 62px;
		@media #{$laptop-device}{
            font-size: 46px;
			line-height: 48px;
        }
		@media #{$desktop-device}{
            font-size: 40px;
			line-height: 42px;
        }
		@media #{$tablet-device}{
            font-size: 35px;
			line-height: 38px;
        }
		@media #{$large-mobile}{
			font-size: 23px;
			line-height: 30px;
        }
	}
	& p{
		color: #fff;
		@media #{$desktop-device}{
            font-size: 15px;
			line-height: 24px;
        }
		@media #{$large-mobile}{
			padding: 17px 0 21px;
        }
	}
	& a{
		background: inherit;
		border: 1px solid #fff;
	}
}




/*home three css here*/

.slider_s_three{
	& .single_slider{
		height: 940px;
        @media #{$laptop-device}{
           height: 675px;
        }
        @media #{$desktop-device}{
          height: 590px;
        }
        @media #{$tablet-device}{
            height: 470px;
			background-position: 0;
        }
        @media #{$large-mobile}{
			height: 340px;
             background-position: 79%;
        }
	}
}



.slider_c_three{
	@media #{$desktop-device}{
	  padding-top: 50px;
	}
	& h2{
		color: #fff;
	}
	& h1{
		color: #fff;
	}
	& p{
		color: #fff;
	}
	& a{
		background: inherit;
		border: 1px solid #fff;
	}
}







